/************************************************
*
* CSS VARIABLES
*
***************************************************/

:root {
   
}

/***************************************************
*
* GENERAL STYPLES
*
****************************************************/


*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   font-family: "Open Sans", sans-serif;
   font-size: 16px;
   /* font-weight: 300; */
   line-height: 1.5;
   /* color: black; */
   /* background-color: #222; */
}

ul {
   list-style-type: none;
}

a:link,
a:visited {
   text-decoration: none;
}


/***************************************************
*
* HEADER STYPLES
*
****************************************************/





/***************************************************
*
* MAIN STYPLES
*
****************************************************/







/***************************************************
*
* FOOTER STYPLES
*
****************************************************/








/***************************************************
*
* MEDIA QUERIES
*
****************************************************/
